.register{
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../../img/new3.jpg");
    background-size: cover;
}

.registerTitle{
    font-size: 50px;
}

.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm > label{
    margin: 10px 0;
}

.registerInput{
    padding: 10px;
    background-color: rgb(253, 251, 249);
    border: none;
    border-radius: 5px;
}

.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: rgb(255, 254, 252);
    border-radius: 8px;
    padding: 10px; 
}

.registerloginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    border: none;
    color: rgb(249, 249, 249);
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}